body {
    margin: 0;
	height: 100vh;
}

canvas{
    display: block;
}

#info {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; 
	color: rgb(0, 0, 0);
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#dPad {
	position: absolute;
	top: 30%;
	right: 10px;
	width: 20%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; 
	color: rgb(128, 68, 0);
}

.dPadbutton {
	background-color: #e7e7e7;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
#groundBtns {
	position: absolute;
	top: 2%;
	right: 0px;
	width: 25%;
	padding: 10px;
	box-sizing: border-box;
	text-align: right;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; 
	color: green;
}
#boxBtns{
	position: absolute;
	top: 60%;
	right: 0px;
	width: 25%;
	padding: 10px;
	box-sizing: border-box;
	text-align: right;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; 
	color: green;
}
#cylinderBtns{
	position: absolute;
	top: 60%;
	left: 0px;
	width: 23%;
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; 
	color: green;
}
#trackBtns{
	position: absolute;
	top: 2%;
	left: 0px;
	width: 23%;
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; 
	color: green;
}
/*
TEST FOR D-PAD
.btn-group-vertical .button {
  background-color: #4CAF50;
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
}

.btn-group-vertical .button:hover {
  background-color: #3e8e41;
}

.btn-group-horizontal .buttonh {
  background-color: #4CAF50;
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  float: left;
}


.btn-group-horizontal .buttonh:hover {
  background-color: #3e8e41;
}
</style>
</head>
<body>

<h2>Vertical Button Group</h2>

<div class="btn-group-vertical">
  <button class="button">Button</button>
  <div class="btn-group-horizontal">
  <button class="buttonh">Button</button>
  <button class="buttonh">Button</button>
  <button class="buttonh">Button</button>
  </div><p style="clear:both"></p>
  <button class="button">Button</button>
  <button class="button">Button</button>
</div>
*/
