<?xml version="1.0" encoding="UTF-8"?>
      <configuration>
          <system.webServer>
               <staticContent>
                 <remove fileExtension=".mtl" />
                 <mimeMap fileExtension=".mtl" mimeType="text/plain" />
                 <mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
               </staticContent>
          </system.webServer>
      </configuration>
